<div class="flex gap-x-4 justify-center">
  <p class="text-base-content">
    Monthly
  </p>

  <input type="checkbox" checked="checked" class="toggle toggle-primary" />

  <p class="text-base-content">
    Yearly
  </p>
</div>

<section class="grid md:grid-cols-3 mt-8 gap-8">
  <article class="card card-border p-8">
    <span class="text-base-content block font-semibold text-xl">
      Starter plan
    </span>

    <p class="text-base-content/80 mt-4">
      The best plan for small businesses
    </p>

    <span class="text-3xl font-bold my-8">
      $29
      <span class="text-sm text-base-content/80 font-normal">
        / month
      </span>
    </span>

    <button class="btn btn-soft w-full">
      Choose plan
    </button>

    <div class="space-y-4 mt-8">
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
    </div>
  </article>
  <article class="card card-border p-8 border-primary">
    <span class="text-primary block font-semibold text-xl">
      Medium plan
    </span>

    <p class="text-base-content/80 mt-4">
      The best plan for medium businesses
    </p>

    <span class="text-3xl text-primary font-bold my-8">
      $39
      <span class="text-sm text-base-content/80 font-normal">
        / month
      </span>
    </span>

    <button class="btn btn-primary w-full">
      Choose plan
    </button>

    <div class="space-y-4 mt-8">
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
    </div>
  </article>
  <article class="card card-border p-8">
    <span class="text-base-content block font-semibold text-xl">
      Full plan
    </span>

    <p class="text-base-content/80 mt-4">
      The best plan for large businesses
    </p>

    <span class="text-3xl font-bold my-8">
      $59
      <span class="text-sm text-base-content/80 font-normal">
        / month
      </span>
    </span>

    <button class="btn btn-soft w-full">
      Choose plan
    </button>

    <div class="space-y-4 mt-8">
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
    </div>
  </article>
</section>