<section class="card card-border p-4 grid grid-cols-1 md:grid-cols-3">
  <header class="md:col-span-2 p-4">
    <h2 class="card-title text-3xl">
      Monthly subscription
    </h2>

    <p class="text-base-content/80 mt-4 max-w-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex, praesentium consequuntur esse dignissimos.
    </p>

    <span class="text-primary block mt-8 font-semibold">
      What you get
    </span>

    <div class="grid sm:grid-cols-2 gap-4 mt-4">
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
      <div class="flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-check text-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        <span class="text-base-content/80">
          Unlimited access to all courses
        </span>
      </div>
    </div>
  </header>

  <article class="card-body bg-base-200 rounded-box items-center justify-center">
    <span class="text-base-content text-5xl">
      $29

      <span class="text-base-content/80 text-lg">
        / month
      </span>
    </span>

    <button class="btn btn-primary mt-8 w-full">
      Get started
    </button>
  </article>
</section>