<header class="hero py-16 bg-primary">
  <div class="hero-content">
    <div class="max-w-xl">
      <h1 class="text-2xl sm:text-5xl text-primary-content font-semibold text-center sm:leading-14">
        Empower your business <br>
        with our services
      </h1>

      <p class="sm:text-xl text-center text-primary-content/80 my-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate
        eos..
      </p>

      <div class="flex max-sm:flex-col justify-center gap-4">
        <button class="btn btn-soft">
          Get started
        </button>

        <button class="btn btn-secondary">
          Learn more
        </button>
      </div>
    </div>
  </div>
</header>