<header class="hero sm:grid-cols-2">
  <div class="hero-content py-16 px-4 sm:px-12">
    <div class="max-w-xl">
      <h1 class="text-2xl sm:text-5xl text-primary font-semibold sm:leading-14">
        Empower your business <br>
        with our services
      </h1>

      <p class="sm:text-xl text-base-content/80 my-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate
        eos..
      </p>

      <div class="flex max-sm:flex-col gap-4">
        <button class="btn btn-soft">
          Get started
        </button>

        <button class="btn btn-secondary">
          Learn more
        </button>
      </div>
    </div>
  </div>

  <div class="sm:col-start-2 max-sm:row-start-2 relative h-full w-full max-sm:min-h-64">
    <img src="https://picsum.photos/500?grayscale" alt="Random image"
      class="h-full w-full object-cover absolute inset-0">
  </div>
</header>