<header class="hero py-16 bg-primary">
  <div class="hero-content">
    <div class="max-w-xl text-center">
      <span class="badge badge-secondary mb-2 max-sm:hidden">
        Start crafting your future today
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-up-right stroke-secondary-content">
          <path d="M13 5H19V11" />
          <path d="M19 5L5 19" />
        </svg>
      </span>

      <h1 class="text-2xl sm:text-5xl text-primary-content font-semibold text-center sm:leading-14">
        Empower your business <br>
        with our services
      </h1>

      <p class="text-base sm:text-xl text-center text-primary-content/80 my-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate
        eos..
      </p>

      <div class="flex max-sm:flex-col justify-center gap-4">
        <button class="btn btn-soft">
          Get started
        </button>

        <button class="btn btn-secondary">
          Learn more
        </button>
      </div>
    </div>
  </div>
</header>