<section class="py-16">
  <h2 class="text-base-content font-semibold text-4xl max-w-xl mt-2">
    Simple components, easy to use, and customize
  </h2>

  <p class="text-xl text-base-content/80 mt-4 max-w-2xl">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate eos..
  </p>

  <div class="grid grid-cols-3 gap-8 mt-16">
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
    <article>
      <span class="inline-block p-2 bg-primary/10 stroke-primary rounded-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-earth">
          <path d="M21.54 15H17a2 2 0 0 0-2 2v4.54" />
          <path d="M7 3.34V5a3 3 0 0 0 3 3a2 2 0 0 1 2 2c0 1.1.9 2 2 2a2 2 0 0 0 2-2c0-1.1.9-2 2-2h3.17" />
          <path d="M11 21.95V18a2 2 0 0 0-2-2a2 2 0 0 1-2-2v-1a2 2 0 0 0-2-2H2.05" />
          <circle cx="12" cy="12" r="10" />
        </svg>
      </span>

      <h3 class="text-primary font-semibold text-xl">
        Simple components
      </h3>

      <p class="text-base-content/80 mt-2 mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam beatae numquam, quod excepturi, omnis magni.
      </p>
    </article>
  </div>
</section>