<section class="py-16 grid md:grid-cols-2 gap-16 place-items-center">
  <article>
    <h2 class="text-base-content font-semibold text-2xl md:text-4xl max-w-xl mt-2">
      Simple components, easy to use, and customize
    </h2>

    <p class="text-xl text-base-content/80 mt-4 max-w-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate eos..
    </p>

    <ul class="list mt-8 gap-y-4">
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
    </ul>

    <div class="flex max-md:flex-col items-center gap-4 mt-8">
      <button class="btn btn-primary max-md:btn-block">
        Get started
      </button>

      <button class="btn btn-ghost max-md:btn-block">
        Learn more
      </button>
    </div>
  </article>

  <img src="https://picsum.photos/500" alt="Random image" class="w-full h-full object-cover rounded-box">
</section>

<section class="pb-16 grid md:grid-cols-2 gap-16 place-items-center">
  <img src="https://picsum.photos/500" alt="Random image" class="w-full h-full object-cover rounded-box">
  <article class="max-md:order-first">
    <h2 class="text-base-content font-semibold text-2xl md:text-4xl max-w-xl mt-2">
      Simple components, easy to use, and customize
    </h2>

    <p class="text-xl text-base-content/80 mt-4 max-w-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et velit dolor nam totam voluptatum sint voluptate eos..
    </p>

    <ul class="list mt-8 gap-y-4">
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
      <li class="inline-flex items-center gap-x-2 text-base-content/80 text-lg">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check stroke-primary">
          <path d="M20 6 9 17l-5-5" />
        </svg>

        Simple components
      </li>
    </ul>

    <div class="flex max-md:flex-col items-center gap-4 mt-8">
      <button class="btn btn-primary max-md:btn-block">
        Get started
      </button>

      <button class="btn btn-ghost mt-8 max-md:btn-block">
        Learn more
      </button>
    </div>
  </article>
</section>