<nav class="bg-base-200">
  <div class="navbar max-w-6xl max-sm:flex-col mx-auto gap-y-4">
    <span class="sm:navbar-start">
      <button class="btn btn-ghost"> ACME </button>
    </span>

    <input type="text" class="input sm:navbar-end max-sm:w-full" placeholder="Search...">
  </div>

  <hr class="border-base-100">

  <div class="navbar max-w-6xl mx-auto gap-y-4">
    <ul class="sm:navbar-end justify-end !w-full gap-x-4 max-sm:space-y-2">
      <a href="" class="btn btn-ghost max-sm:btn-block"> Home </a>
      <a href="" class="btn btn-ghost max-sm:btn-block"> About </a>
      <a href="" class="btn btn-primary max-sm:btn-block"> Contact </a>
    </ul>
  </div>
</nav>