<div class="w-full border-t border-base-300 bg-base-200 p-4 flex items-center">
  <p class="text-base-content/80 max-w-2xl">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores maxime, vero quasi vitae consectetur eius
    provident quia nostrum velit cumque quo eveniet magnam, laboriosam officia alias culpa ducimus <a href=""
      class="link link-primary link-hover">aliquid. Ratione!</a>
  </p>

  <div class="flex items-center justify-end flex-auto">
    <button class="btn btn-primary">Accept</button>
    <button class="btn btn-ghost">Decline</button>
  </div>
</div>