<div class="p-8">
  <input type="checkbox" hidden id="close-btn" class="peer" />
  <div role="alert" class="bg-primary rounded-box p-4 relative flex items-center justify-center peer-checked:hidden">
    <p class="text-primary-content text-center">
      Get started with ACME for Business today · Unlimited access to all courses for your entire team.
    </p>

    <span class="absolute right-2">
      <label for="close-btn" class="btn btn-soft">
        Close
      </label>
    </span>
  </div>
</div>